<!DOCTYPE html>
<html>
<head>
	<title>Sentiments</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<%= stylesheet_link_tag "styles.css" %>

	<!-- Compiled and minified JavaScript -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</head>
<body>

	<%= render 'partials/nav' %>

	<%= yield %>


	<script>
      $(document).ready(function(){
        $('select').material_select();
        $('input.autocomplete').autocomplete({
	    data: {
	      "Google (GOOG)": null,
	      "Credit Suisse (CS)": null,
	      "Facebook (FB)": null,
	      "Yahoo (YHOO)": null,
	      "Tableau (DATA)": null,
	      "Thomson Reuters Inc. (TRI)": null,
	      "Goldman Sachs (GS)": null,
	      "Amazon (AMZN)": null,
	      "Cloudera (CLDR)": null
	    },
	    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
	    onAutocomplete: function(val) {
	      // Callback function when value is autocompleted.
	    },
	    minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
	    });
      });

    
    </script>
</body>
</html>
